// COLOR
$color-primary-main: #00ab55;
$color-primary-light: #5be584;
$color-primary-dark: #007b55;

$color-secondary-main: #3366FF;
$color-secondary-light: #E5EBF9;
$color-secondary-dark: #1939B7;

$color-success-main: #54D62C;
$color-success-light: #AAF27F;
$color-success-dark: #229A16;

$color-info-main: #1890FF;
$color-info-light: #74CAFF;
$color-info-dark: #0C53B7;

$color-warning-main: #FFC107;
$color-warning-light: #FFE16A;
$color-warning-dark: #B78103;

$color-error-main: #FF4842;
$color-error-light: #FFA48D;
$color-error-dark: #B72136;

// SIDEBAR
$sidebar-width: 260px;
$sidebar-width-hide: 80px;
