@import "assets/scss/common/variables";
@import "assets/scss/common/mixins";

.sidebar {
	background-color: #fafbfc;
	width: $sidebar-width;
	max-width: $sidebar-width;
	min-width: $sidebar-width-hide;
	display: flex;
	flex-direction: column;

	transition: width 0.3s ease;
	z-index: 100;
	border-right: 1px solid #919eab3d;

	&:hover {
		.sidebar-header {
			&-toggle {
				display: block;
			}
		}
	}

	&-header {
		min-height: 60px;
		height: auto;
		display: flex;
		align-items: center;

		width: 100%;
		padding: 0rem 1.75rem;
		position: relative;

		&-title {
			flex-grow: 1;
			display: flex;
			align-items: center;

			> div {
				@include square(50px);
				margin-right: 1rem;

				img {
					width: 100%;
					height: 100%;
				}
			}
		}

		&-toggle {
			display: none;
			position: absolute;
			right: -12px;
			top: 50%;
			transform: translateY(-50%);

			&-btn {
				$btn-bg: #f2f2f2;
				$btn-bg-hover: $color-primary-main;
				@include circle(24px);
				padding: 0px;
				background-color: $btn-bg;
				outline: none;
				border: 1px solid #dfdfdf;
				transition: all 0.4s ease;

				display: flex;
				align-items: center;
				justify-content: center;

				svg {
					font-size: 0.75rem;
					color: $color-primary-main;
				}

				&:hover {
					background-color: $btn-bg-hover;
					svg {
						color: #fff;
					}
				}
			}
		}
	}

	.sidebar-body,
	.sidebar-footer {
		.sidebar-body-item,
		.sidebar-footer-item {
			width: 100%;
			height: 45px;
			padding: 0 0.875rem;

			> a {
				color: #5d5a68;
				width: 100%;
				height: 100%;
				cursor: pointer;
				text-decoration: none;

				display: inline-flex;
				align-items: center;
				font-size: 14px;
				padding: 0.5rem 0.875rem;

				border-radius: 0.25rem;
				font-weight: 500;
				transition: all 0.3s ease;

				position: relative;

				& > svg {
					margin-right: 0.75rem;
					color: #898989;
				}

				& > span {
					flex-grow: 1;
				}
			}

			> a.active {
				&::before {
					content: "";
					position: absolute;
					left: 0;
					width: 3px;
					background-color: $color-primary-main;
					top: 10px;
					height: 25px;
					border-radius: 0 0.25rem 0.25rem 0;
				}
			}

			> a.active,
			> a:hover {
				color: $color-primary-main;
				background-color: #e1f1ec;
				& > svg {
					color: $color-primary-main;
				}
			}
		}
	}

	.sidebar-body {
		flex-grow: 1;
	}

	.sidebar-footer {
		margin: 0.75rem 0;
	}
}

.sidebar.hide {
	width: $sidebar-width-hide;
	.sidebar-header {
		padding: 0rem 0.875rem;
		&-title {
			> div {
				@include square(40px);
			}
		}
	}

	.sidebar-body,
	.sidebar-footer {
		.sidebar-body-item,
		.sidebar-footer-item {
			> a {
				& > span {
					visibility: hidden;
				}

				&::after {
					content: "";
					position: absolute;
					top: 0;
					bottom: 0;
					left: 50px;
					width: 10px;
				}

				&:hover {
					& > span {
						position: absolute;
						visibility: visible;
						left: 60px;

						color: #fff;
						background-color: $color-primary-main;
						width: max-content;
						padding: 0.5rem 0.75rem;
						border-radius: 0.25rem;
					}
				}
			}
		}
	}
}
